{{>header}}

<h1 class="display-5 mt-3 text-center">{{message}}</h1>

<div class="d-grid gap-2 col-6 mt-3 mx-auto">
<a class="btn btn-primary" href="/user/profile" role="button">Go to profile</a>
</div>

{{>footer}}